@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.avtosahe-body{
  background-image: url("./img/1900699.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 25px;
  color: white;
}
.shops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
 .shops-i {
  width: 38%;
  height: 170px;
  margin-top: 15px;
  box-shadow: rgba(201, 199, 199, 0.66) 0px 0px 3px 2px;
  transition: box-shadow 0.2s ease 0s, -webkit-box-shadow 0.2s ease 0s;
  border-radius: 8px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
}

.shops-i p{
  font-family: "Outfit" ;
  padding: 7px;
}
.shops-i a{
  padding-left: 10px;
  padding-top: 3px;
  text-decoration:none;
  font-size: 20px;
}

.shops-i img {
  width: 35%;
  border-radius: 8px;
}

.shops-i div {
  width: 65%;
}