@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Serif+Georgian:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1400px;
  margin: 0 auto;
}

/* HEADER */
.header-box {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: maroon;
}

.header-ul {
  display: flex;
  list-style-type: none;
}

.header-ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;

}

.header-ul li :hover {
  position: relative;
  bottom: 2px;
  transition: 0.5s;
}

.header-ul li a {
  color: white;
  text-decoration: none;
}


/*  Marka ,qiymet araligi */
.marka-box {
  margin-top: 10px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ebedf3;
}

.marka-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;

}

.marka-select::-ms-expand {
  display: none;

}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 200px;
  max-width: 20ch;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.model-valyuta {
  width: 300px;
}


.marka-input,
.guc-input {
  padding: 3px;
  margin-top: 5px;
  display: flex;
  width: 100px;
  height: 30px;
}

.m1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.m2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.model-box {
  display: flex;
}

.model-select,
.valyuta-select,
.seher-select,
.il-araliq {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 100px;
  max-width: 20ch;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.guc-box {
  width: 150px;
}

.guc-input {
  width: 150px;
  border-radius: 5px;
}

/* Istifade, yurus araligi */


.istifade-ul {
  display: flex;
  align-items: center;
}

.istifade-li {
  list-style-type: none;
  color: #777;
  width: 65px;
  height: 28px
}



.istifade-btn {
  border: none;
  width: 25%;
  height: 100%;
}

.istifade-btn:hover {
  background-color: maroon;
  color: white;
  transition: 2s;
}

.istifade-li button {
  width: 100%;
}

.yurus-input {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
}

/* herekete keciren btnlar */

.reset button,
.axtaris button {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  padding: 3px;
  margin-top: 10px;
}

/* AVTO  */

.avto-h1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebedf3;
}

.avto {
  margin-left: 40px;
}

.avto-div {
  width: 100%;
  margin-left: -37px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avto-box {
  margin-left: 21px;
  margin-top: 23px;
  width: 229px;
  height: 320px;
  background: #FFFFFF;
  box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  position: relative;
}

.avto-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  ;
}



.avto-img {
  width: 230x;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 17px;
}

.avto-img img {
  height: 100%;
  border-radius: 17px;
  border-top-left-radius: 17px;
}

.avto-box h4 {
  margin-left: 11px;
  margin-top: 2px;
  width: 211.4px;
  font-family: 'Roboto';
  font-size: 17px;
}

.avto-box p {
  margin-left: 11px;
  margin-top: 5px;
  width: 211.4px;
  font-family: 'Roboto';
  font-size: 14px;
}

/* FOOTER */

.footer {
  height: 200px;
  margin-top: 20px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}


.footer-pre {
  color: white;
}


.sosial-sebeke {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.elaqe-nom img, .ealqe-p2 img {

  vertical-align: middle;
}

.elaqe-nom img {

  width: 12%;
}

.elaqe-p2 {
  margin-top: 5px;
}